$marvel-red: #e62429;
$marvel-red-opacity: #9f0013;

@import '~bootstrap';

@import './fonts.scss';
@import './header.scss';
@import './card-info.scss';
@import './wrapper.scss';
@import './info.scss';
@import './btn.scss';
@import './content-grid.scss';
@import './title-marvel.scss';
@import './news-content.scss';
@import './banner.scss';
@import './footer.scss';
@import './promo.scss';
@import './menu.scss';

body {
  overflow-y: scroll;
  font-family: 'roboto';
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.icon--svg {
  &--gray-fill {
    fill: #999;
  }

  &--white-fill {
    fill: $white;
  }
}
