.wrapper {
  position: relative;
  padding: 0;
  
  &__main {
    background-color: #151515;
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 0, 0 100%, 100% 92%, 100% 0);

    &--middle {
      &::before {
        position: absolute;
        content: '';
        top: 0;
        border-bottom: 560px solid #151515;
        border-right: 160px solid transparent;
        left: 44.90%;
      }
    }

    @media screen and (min-width: 768px) {
      height: 560px;
    }

    &__partial {
      flex: 0 0 45%;
    }
    
    &__full {
      background-color: blue;
      flex: 1;
    }
    
    &-img {
      height: 100%;
      width: 100%;
      background-position: top;
    }
  }
  
  &__carousel {
    margin: 0 auto;
    max-width: 1179px;
    overflow: hidden;
    position: relative;
    z-index: 10;

    @media screen and (min-width: 768px) {
      margin: -60px auto 0;
    }

    &-inner {
      margin: 0 auto;
    }
  }
}